.section--about {
    &__image {
        box-shadow: $box-shadow;
    }

    @include mq(big) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        text-align: left;
        grid-column-gap: $spacer;
        max-width: 1200px;
        margin-inline: auto;

        &__title,
        &__subtitle,
        &__heading,
        &__body {
            grid-column: 2 / 3;
        }

        &__image {
            grid-row: 1 / 6;
            transform: translateY(-30%);
            aspect-ratio: 1;
            height:500px;
        }

        &__subtitle {
            &::after {
                display: none;
            }
            margin-bottom: 0;
        }
    }
}